@media (max-width:400px){
    .navbar{
        clear: both;
        overflow: hidden;
        width: 100%;
    }
    .logo {
        padding: 2px 15px;
    font-size: 25px;
    float: none;
    text-align: center;
    }
    .menu{
        float: none;
        margin-top: 5px;
    }
    .menu>a{
        padding: 2px;
        margin: 0px 7px;
    }
    .menu>a.btn-ph{
        padding: 10px;
        line-height: 20px;
        float: none;
        display: block;
        margin: 10px 50px;
        text-align: center;
    
    }
    /* main-start*/
    .background-img{
        padding: 80px 0;
    }
    .text-main>span{
        font-size: 20px;
    }
    .text-main>h1{
        font-size: 36px;
        margin-bottom: 20px;
    }
    .button1{
        margin-right: 10px;
    }

    /* about */
    .about{
        padding: 5px 3px;
    }
    .about-img{
        width: 100%;
        float: none;
    }
    .about-img>img{
        width: 95%;
        height: 270px;
    }
    .about-data{
        width: 100%;
        float: none;
    }
    .about-data>span{
        font-size: 18px;
        line-height: 50px;
    }
    .about-data>h1{
        font-size:26px;
    }
    .about-data>h4{
        font-size: 18px;
    }
    .icon1{
        width: 100%;
        margin-bottom: 20px;
    }
    .icon2{
        width: 100%;
    }

    /* services */
    .container{
        padding: 50px 0 30px 0 ;
    }
    .services-box{
        margin:30px 50px;
    }
    .sevices-box1{
        width: 100%;
        margin-left: 1px;
    }

    .pricing{
        margin: 0 40px 10px 40px;
    }
    .pricing-plans{
        width: 100%;
        margin-bottom: 30px;
    }
    .plan-btn>a{
        padding: 12px 24px;
    }
    .plans{
        padding: 25px 0;
    }
    .plan1>p{
        line-height: 35px;
    }
    .plans1{
        padding: 25px 0;
    }
    .pricing-plans1{
        width: 100%;
        margin-bottom: 30px;
    }
    .plan-btn1>a{
        padding: 12px 24px;
    }

    .background-img2{
        padding: 40px 30px;
    }
    .text-main2>h1{
        font-size: 25px;
    }
    .text-main2>p{
        font-size: 13px;
        font-weight: 600;
        padding-bottom: 30px;
    }

    .team{
        margin: 20px;
    }
    .team>span{
        line-height: 30px;
        font-size: 16px;
    }
    .team>h1{
        line-height: 30px;
        font-size: 28px;
    }
    .team-member{
        width: 100%;
        margin: 25px 10px 0px 0px;
    }
    .team-text{
        padding: 20px;
    }

    .testimonial{
        padding: 20px 0;
    }
    .testimonial-data>span{
        line-height: 30px;
        font-size: 16px;
    }
    .testimonial-data>h1{
        line-height: 30px;
        font-size: 24px;
    }

    .reviews{
        margin: 5px 5px;
    }
    .reviews-content {
        width: 85%;
        margin: 7px 0px 0 30px;
    }
    .reviews-content>img{
        left: 115px;
    }
    .blog-content > h2 {
        font-size: 23px;
    }

    .blogs-data{
        margin: 15px;
    }
    .blogs-data>span{
        line-height: 30px;
        font-size: 16px;
    }
    .blogs-data>h1{
        font-size: 26px;
    }
    .main-blogs{
        margin: 10px 35px ;
    }
    .blog-posts{
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-main{
        margin: 1px !important;
        height: 400px;
    }
    .popular-link,.follow-us{
        width: 40%;
        margin: 5px !important;
        font-size: 12px;
        float: right;
        top: 36px;
    }
    .quick-link, .get-in-touch{
        width: 40%;
        margin: 5px !important;
        font-size: 12px;
        float: left;
        top: 36px;
        
    }
    .follow-us{
        position: relative;
        top: 8px;
    }
    .footer-icons{
        list-style: none;
        line-height: 15px;
    }
    .socialmediaicon{
        font-size: 15px;
        padding: 6px;
    }
    .socialmediaicon.facebook{
        font-size: 12px;
        padding: 8px 10px 4px 10px;
    }
    .footer-main{
        margin: 60px 0px 0px 0px;
    }

    .email{
        width: 55%;
        padding: 8px 0;
        padding-left: 5px;
        font-size: 16px;
    }
    .button{
        width: 25%;
        padding: 10px 0;
        font-size: 16px;
    }

    .footer-end>p{
        margin-left: 15px;
        font-size: 14px;
    }
}

/*very Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) and (max-width: 575.98px){
    .menu {
        float: right;
        margin-top: 0px !important;
    }
    .text-main > span {
        font-size: 17px;
    }
    .button1 {
        padding: 10px 17px !important;
    }
    .button2 {
        padding: 10px 17px !important;
    }
    .reviews-content > img {
        left: 106px !important;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)  and (max-width: 767.98px){
    .logo {
        float: left;
        padding: 10px 20px;
        font-size: 14px;
    }
    .menu {
        float: right;
        margin-top: 0px;
    }
    .menu > a {
        padding: 0px;
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
    }
    .menu > a.btn-ph {
        background-color: #F14D5D;
        padding: 40px;
        line-height: 60px;
        padding: 23px 20px 23px 20px;
    }

    .background-img {
        padding: 120px 0;
    }
    .text-main > span {
        font-size: 16px;
    }
    .text-main > h1 {
        font-size: 36px;
    }

    .about {
        padding: 70px 0px;
        clear: both;
        overflow: hidden;
        margin: 20px 5px;
    }

    .about-data > span {
        font-size: 16px;
    }
    .about-data > h1 {
        font-size: 25px;
    }
    .about-data > h4 {
        font-size: 16px;
    }

    .icon1 {
        width: 48%;
        background-color: #2878EB;
        padding: 28px 66px 70px 65px;
        display: inline-block;
        text-align: center;
        border-bottom: 5px solid #F14D5D;
        margin: 0px;
    }
    .services-box {
        margin: 30px 5px;
    }
    .sevices-box1 {
        width: 30%;
        display: inline-block;
        background-color: #dddafd;
        padding: 5px 6px;
        margin: 5px;
        border-bottom: 5px solid #2878EB;
    }
    .sevices-box1 > h3 {
        line-height: 40px;
        font-size: 18px;
    }
    .lord-icon {
        position: relative;
        right: -8px;
        width: 85%;
        height: 150px;
    }

    .pricing {
        text-align: center;
        margin: 0 0px 60px 0px;
    }
    .pricing-plans {
        margin-right: 3px;
    }
    .text-main2 > h1 {
        font-size: 29px;
    }
    .text-main2 > p {
        font-size: 11px;
    }
    .background-img2 {
        padding: 25px 0;
    }
    .team {
        text-align: center;
        margin: 1px;
    }
    .team-member {
        width: 30%;
        display: inline-block;
        margin: 6px;
    }
    .team-icon {
        width: 18%;
        position: absolute;
        top: 90px;
        right: 3px;
    }
    .reviews-content {
        margin: 7px;
    }
    .reviews-data {
        padding: 65px 10px;
    }
    .reviews-data1 {
        padding: 65px 10px;
    }
    .reviews-content > img {
        border-style: none;
        border-radius: 100%;
        position: relative;
        top: 58px;
        left: 56px;
        width: 30%;
    }
    .main-blogs {
        margin: 40px 0px 40px 30px;
    }

    .blog-posts {
        margin-right: 19px;
    }
    .blog-content > h2 {
        font-size: 19px;
    }
    .footer-main {
        margin: 0px;
    }

    .get-in-touch {
        position: relative;
        top: -40px;
    }

    .follow-us {
        position: relative;
        top: -100px;
    }
    .email {
        width: 45%;
        padding: 10px 0;
        padding-left: 20px;
        font-size: 18px;
    }
    .button {
        padding: 11px 0;
    }

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
and (max-width: 991.98px){
    .logo {
        float: left;
        padding: 10px 20px;
        font-size: 16px;
    }
    .menu {
        float: right;
        margin-top: 0px;
    }
    .menu > a {
        padding: 5px;
        font-size: 15px;
    }
    .menu > a.btn-ph {
        background-color: #F14D5D;
        padding: 40px;
        line-height: 60px;
        padding: 23px 20px 23px 20px;
    }

    .background-img {
        padding: 120px 0;
    }
    .text-main > span {
        font-size: 16px;
    }
    .text-main > h1 {
        font-size: 36px;
    }

    .about {
        padding: 70px 0px;
        clear: both;
        overflow: hidden;
        margin: 20px 5px;
    }

    .about-data > span {
        font-size: 16px;
    }
    .about-data > h1 {
        font-size: 25px;
    }
    .about-data > h4 {
        font-size: 16px;
    }

    .icon1 {
        width: 48%;
        padding: 28px 66px 70px 65px;
        margin: 0px;
    }
    .icon2 {
        width: 48%;
        padding: 28px 66px 70px 65px;
        margin: 0px;
    }
    .services-box {
        margin: 30px 5px;
    }
    .sevices-box1 {
        width: 30%;
        display: inline-block;
        background-color: #dddafd;
        padding: 5px 6px;
        margin: 5px;
        border-bottom: 5px solid #2878EB;
    }
    .sevices-box1 > h3 {
        line-height: 40px;
        font-size: 18px;
    }
    .lord-icon {
        position: relative;
        right: -8px;
        width: 85%;
        height: 150px;
    }

    .pricing {
        text-align: center;
        margin: 0 0px 60px 0px;
    }
    .pricing-plans {
        margin-right: 3px;
    }
    .text-main2 > h1 {
        font-size: 29px;
    }
    .text-main2 > p {
        font-size: 11px;
    }
    .background-img2 {
        padding: 25px 0;
    }
    .team {
        text-align: center;
        margin: 1px;
    }
    .team-member {
        width: 30%;
        display: inline-block;
        margin: 6px;
    }
    .team-icon {
        width: 18%;
        position: absolute;
        top: 90px;
        right: 3px;
    }
    .reviews-content {
        margin: 7px;
    }
    .reviews-data {
        padding: 65px 10px;
    }
    .reviews-data1 {
        padding: 65px 10px;
    }
    .reviews-content > img {
        border-style: none;
        border-radius: 100%;
        position: relative;
        top: 58px;
        left: 56px;
        width: 30%;
    }
    .main-blogs {
        margin: 40px 0px 40px 30px;
    }

    .blog-posts {
        margin-right: 19px;
    }
    .blog-content > h2 {
        font-size: 19px;
    }
    .footer-main {
        margin: 0px;
    }

    .get-in-touch {
        position: relative;
        top: -40px;
    }

    .follow-us {
        position: relative;
        top: -100px;
    }
    .email {
        width: 45%;
        padding: 10px 0;
        padding-left: 20px;
        font-size: 18px;
    }
    .button {
        padding: 11px 0;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .text-main > span {
        font-size: 21px;
        font-weight: 400;
    }
    .text-main > h1 {
        font-size: 50px;
    }
    .background-img {
        padding: 67px 0;
    }
    .about {
        padding: 70px 0px;
    }
    .about-data > h1 {
        font-size: 40px;
    }
    .services-box {
        margin: 30px 0px;
    }
    .team {
        margin: 25px;
    }
    .team-member {
        margin: 10px;
    }
    .team-icon {
        width: 14%;
        position: absolute;
        top: 78px;
        right: 6px;
        background-color: #ffffff;
    }
    .reviews-content {
        margin: 13px;
    }
    .reviews-content > img {
        left: 99px;
    }
    .reviews-data {
        padding: 65px 53px;
    }
    .reviews-data1 {
        padding: 65px 53px;
    }
    .footer-main {
        margin: 8px;
    }
    .quick-link, .popular-link, .get-in-touch, .follow-us {
        margin: 50px 21px;
        font-size: 14px;
    }
    .get-in-touch {
        position: relative;
        top: -108px;
    }

    .follow-us {
        position: relative;
        top: -158px;
    }
    .email {
        width: 45%;
        padding: 10px 0;
        padding-left: 20px;
        font-size: 18px;
    }
    .button {
        padding: 11px 0;
    }
    
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .about-data > h1 {
        font-size: 46px;
    }
    .icon2 {
        padding: 72px 65px 70px 65px;
    }
    .team {
        text-align: center;
        margin: 60px;
    }
    .reviews-content {
        width: 30%;
        display: inline-block;
        margin: 15px;
    }
    .reviews-content > img {
        left: 117px;
    }
    .footer-main {
        margin: 0px;
    }
}


/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}
